body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('./lamando.jpg');
    background-size: cover;
    background-position: center;
}

/* Navigation Bar */
.navbar {
    background: white;
    color: #333;
    padding: 10px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.navbar .logo {
    font-size: 24px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #ff6347;
}

.nav-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navbar .nav-links {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .navbar .nav-links.show-nav {
        display: flex;
    }

    .navbar .nav-links li {
        margin: 10px 0;
    }

    .nav-toggle {
        display: block;
    }
}

/* Hero Container */
.hero-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero {
    background: url('hero-image.jpg') no-repeat center center/cover;
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero .container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    top: 50px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1rem;
    margin-bottom: 40px;
    color: white;
}

/* Slider */
.slider {
    position: relative;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.slide img {
    max-width: 100%;
    border-radius: 10px;
}

.slide p {
    color: #fff;
    font-size: 18px;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}

.prev, .next {
    left: 10px;
    box-shadow: -1px 7px 24px -9px #f5544c;
	background:linear-gradient(to bottom, #e03d31 5%, #eb5e5e 100%);
	background-color:#e03d31;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	text-decoration:none;
	text-shadow:0px 1px 37px #614c4c;
    padding: 8px;
}

.btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.footer {
    background: white;
    color: black;
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
}

.footer .container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.footer p {
    margin: 0;
}

.footer .footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

.footer .footer-links li {
    margin: 0 10px;
}

.footer .footer-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.footer .footer-links a:hover {
    color: #ff6347;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .navbar .container {
        flex-direction: row;
    }

    .navbar .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links li {
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 0.875rem;
    }

    .hero .btn {
        font-size: 0.875rem;
        padding: 8px 16px;
    }

    .slider {
        max-width: 100%;
    }
    

    .nav-button {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 480px) {
    .navbar .container {
        flex-direction: row;
    }

    .navbar .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .hero {
        padding: 20px;
    }

    .slider img {
        height: 200px;
        width: 100%;
    }

    .hero h1 {
        font-size: 1.75rem;
    }

    .hero p {
        font-size: 0.75rem;
    }

    .hero .btn {
        font-size: 0.75rem;
        padding: 6px 12px;
    }
}
